<script>

</script>

<template>
 <div class="col">
                <p class="fs-1 mt-3 mb-5">Contact</p>
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col">
                            <p class="fs-4">Unde ne gasesti</p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d670.8854549415645!2d22.87842466686954!3d47.73214111856251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4738072628966bb1%3A0xbff9706e4ce8e057!2sStrada%20Busuiocului%2012%2C%20Satu%20Mare%20447231!5e0!3m2!1sro!2sro!4v1669242849597!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="col">
                            <p class="fs-4">Program</p>
                            <table class="table border-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Ziua</th>
                                        <th scope="col">Ora</th>
                                        <th scope="col">Titlu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Marti</td>
                                        <td>18:00 - 20:00</td>
                                        <td>Seara de rugaciune</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Joi</td>
                                        <td>19:00 - 20:00</td>
                                        <td>Program divin</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Duminica</td>
                                        <td>09:00 - 12:00</td>
                                        <td>Program divin</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <p class="fs-4">Lasa-ne un mesaj</p>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Nume</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Adresa de Email</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input type="message" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Mesaj</label>
                              </div>
                              <button type="button" class="btn btn-success btn-lg mb-3">Trimite</button>
                        </div>
                    </div>
                </div>
            </div>
</template>

<script>

</script>