<script setup>

</script>

<template>  
<div class="col">
                <p class="fs-1 mt-3 mb-5">Cor</p>
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Nume</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Adresa de Email</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input type="message" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Telefon</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input type="message" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Vocea principala</label>
                              </div>
                              <button type="button" class="btn btn-success btn-lg mb-3">Trimite</button>
                        </div>
                        
                    </div>
                    <div class="row">
                        <a href="departamente.html" class="btn btn-secondary">Inapoi</a>
                    </div>
                </div>
            </div>
</template>

<style>

</style>