<script setup>

</script>

<template>
<div class="col">
    <p class="fs-1 mt-3 mb-5">Departamente</p>
    <div class="container-fluid ">
        <div class="row align-items-center">
            <div class="col">
                <div class="card">
                    <img src="src/Images/Choir.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cor</h5>
                        <p class="card-text">Implica-te in corul bisericii si foloseste-ti darurile date de
                            El pentru lauda Lui</p>
                        <a class="btn btn-primary">Inscrie-te</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" >
                    <img src="src/Images/t.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Slujire in misiune</h5>
                        <p class="card-text">Slujeste impreuna cu fratii in credinta spre propovaduirea Cuvantului</p>
                        <a class="btn btn-primary">Inscrie-te</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" >
                    <img src="src/Images/Choir.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Grupe de copii</h5>
                      <p class="card-text">Implica-ti copilul in procesul de descoperire a povestirilor istorice din Biblie</p>
                      <a class="btn btn-primary">Inscrie-te</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<style>

</style>