<script setup>
import { ref } from 'vue'
</script>

<template>
 <div class="col">
                <p class="fs-1 mt-3 mb-5">Despre noi</p>
                <div class="container-fluid d-none d-xl-block">
                    <div class="row align-items-center">
                        <div class="col">
                            <img src="src/Images/img.jpeg" class="img-fluid " alt="Church">
                        </div>
                        <div class="col">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                        </div>

                        <div class="row align-items-center mt-3">
                            <div class="col">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                    est laborum.</p>
                            </div>
                            <div class="col">
                                <img src="src/Images/interior.jpeg" class="img-fluid " alt="Church">
                            </div>
                            
                        </div>

                        <p class="fs-1 mt-5 mb-4">Conducerea Bisericii</p>

                        <div class="row mt-5 mb-5"> <!--ce ii cu spatiul ala???-->
                            <div class="col">
                                <div class="card" style="width: 17rem;">
                                    <img src="src/Images/Dad.png" class="card-img-top" alt="Img" >
                                    <div class="card-body">
                                      <p class="card-text fs-5">Ioan Ulici</p>
                                      <p class="card-text">Pastor</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 17rem;">
                                    <img src="src/Images/Nicu.jpeg" class="card-img-top" alt="Img" >
                                    <div class="card-body">
                                      <p class="card-text fs-5">Nicu Han</p>
                                      <p class="card-text">Casier</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 17rem;">
                                    <img src="src/Images/Nelu.jpeg" class="card-img-top" alt="Img" >
                                    <div class="card-body">
                                      <p class="card-text fs-5">Nelu Sofron</p>
                                      <p class="card-text">Prezbiter</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid d-md-block d-xl-none">
                    <div class="row align-items-center">
                        <div class="col">
                            <img src="src/Images/img.jpeg" class="img-fluid mb-5" alt="Church">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                        </div>

                        <div class="row align-items-center mt-3">
                            <div class="col">
                                <img src="src/Images/interior.jpeg" class="img-fluid mb-5" alt="Church">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                    est laborum.</p>
                            </div>
                            
                        </div>

                        <p class="fs-1 mt-5 mb-4">Conducerea Bisericii</p>

                        <div class="row mt-5 mb-5"> <!--ce ii cu spatiul ala???-->
                            <div class="col">
                                <div class="card" >
                                    <img src="src/Images/Dad.png" class="card-img-top" alt="Img" >
                                    <div class="card-body">
                                      <p class="card-text fs-5">Ioan Ulici</p>
                                      <p class="card-text">Pastor</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card" >
                                    <img src="src/Images/Nicu.jpeg" class="card-img-top" alt="Img" >
                                    <div class="card-body">
                                      <p class="card-text fs-5">Nicu Han</p>
                                      <p class="card-text">Casier</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="card" >
                                    <img src="src/Images/Nelu.jpeg" class="card-img-top" alt="Img" >
                                    <div class="card-body">
                                      <p class="card-text fs-5">Nelu Sofron</p>
                                      <p class="card-text">Prezbiter</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</template>

<style>

</style>
