<script setup>

</script>

<template>
<div class="col">
                <p class="fs-1 mt-3 mb-5">Donatii</p>
                <div class="container-fluid">
                    <div class="row align-items-start">
                        <div class="col">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum:</p>
                            <p>• in LEI RO53CRDZ013A101030481001</p>
                            <p>• in EUR RO26CRDZ013A101030481002, cod swift CRDZROBU</p>
                            <p>• in USD RO96CRDZ013A101030481003, cod swift CRDZROBU</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
</template>

<style>

</style>