<script setup>

</script>

<template>
    <div class="col">
        <p class="fs-1 mt-3 mb-5">Evenimente</p>
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <p class="fs-2 mt-2">Ne pare rau :(</p>
                    <p class="fs-2">Nu sunt evenimente noi</p>
                </div>
            </div>
        </div>
    </div>
</template>

<style>

</style>