<script setup>

</script>

<template>
<div class="col">
                <p class="fs-1 mt-3 mb-5">Live-uri</p>
                <div class="container-fluid">
                    <div class="row align-items-start">
                        <div class="col">
                            <iframe width="450rem" height="300rem" src="https://www.youtube.com/embed/L8fSCv7zm5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <p class="fs-4">24.11.2022</p>
                        </div>
                        <div class="col">
                            <iframe width="450rem" height="300rem" src="https://www.youtube.com/embed/L8fSCv7zm5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <p class="fs-4">20.11.2022</p>
                        </div>
                    </div>
                    <div class="row align-items-start mt-4 mb-4">
                        <div class="col">
                            <iframe width="450rem" height="300rem" src="https://www.youtube.com/embed/L8fSCv7zm5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <p class="fs-4">16.11.2022</p>
                        </div>
                        <div class="col">
                            <iframe width="450rem" height="300rem" src="https://www.youtube.com/embed/L8fSCv7zm5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <p class="fs-4">09.11.2022</p>
                        </div>
                    </div>
                </div>
            </div>
</template>

<script>

</script>