<script setup>
import { ref } from 'vue';
import Principala from './components/Principala.vue'
import Despre from './components/Despre.vue'
import Evenimente from './components/Evenimente.vue'
import Departamente from './components/Departamente.vue'
import Live from './components/Live.vue'
import Donatii from './components/Donatii.vue'
import Contact from './components/Contact.vue'
import Cor from './components/Cor.vue'
import Slujire from './components/Slujire.vue'
import Copii from './components/Copii.vue'

const pagina = ref(1);
</script>

<template>
    <div class=" bg-image" style="background-image: url('src/Images/interior.jpeg');">
        <div class="container fluid text-center">
            <div class="row rounded-4" style="background-image: url('src/Images/img.jpeg');">
                <div class="col align-self-center mt-5 mb-2">
                    <a @click="pagina = 1" role="button"
                        class="btn fs-1 mb-4 animate__animated animate__backInDown">Biserica "Vestea Buna" Satu Mare</a>
                </div>
            </div>
            <div class="col align-self-center mb-5">
                <nav class="navbar rounded-4 d-none d-md-block " style="background-color: #6c757d;">
                    <div class="container-fluid">
                        <a @click="pagina = 2" class="navbar-brand animate__animated animate__fadeIn">Despre noi</a>
                        <a @click="pagina = 3" class="navbar-brand animate__animated animate__fadeIn">Evenimente</a>
                        <a @click="pagina = 4" class="navbar-brand animate__animated animate__fadeIn">Departamente</a>
                        <a @click="pagina = 5" class="navbar-brand animate__animated animate__fadeIn">Live-uri</a>
                        <a @click="pagina = 6" class="navbar-brand animate__animated animate__fadeIn">Donatii</a>
                        <a @click="pagina = 7" class="navbar-brand animate__animated animate__fadeIn">Contact</a>

                    </div>
                </nav>
            </div>
        </div>
        <div class="container fluid text-center">
            <div class="row">
                <div class="col d-flex justify-content-center dropdown d-sm-block d-md-none">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Meniu
                    </button>
                    <ul class="dropdown-menu">
                        <li><a @click="pagina = 2" class="dropdown-item">Despre noi</a></li>
                        <li><a @click="pagina = 3" class="dropdown-item">Evenimente</a></li>
                        <li><a @click="pagina = 4" class="dropdown-item">Departamente</a></li>
                        <li><a @click="pagina = 5" class="dropdown-item">Live-uri</a></li>
                        <li><a @click="pagina = 6" class="dropdown-item">Donatii</a></li>
                        <li><a @click="pagina = 7" class="dropdown-item">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container fluid text-center rounded-4 mb-5" style="background-image: url('src/Images/Color.jpg');">
            <div class="row">
                <div class="col-3 d-none d-xl-block  border-dark border-end">
                    <p class="fs-4 mt-3">Program</p>
                    <table class="table border-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ziua</th>
                                <th scope="col">Ora</th>
                                <th scope="col">Titlu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Marti</td>
                                <td>18:00 - 20:00</td>
                                <td>Seara de rugaciune</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Joi</td>
                                <td>19:00 - 20:00</td>
                                <td>Program divin</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Duminica</td>
                                <td>09:00 - 12:00</td>
                                <td>Program divin</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="fs-4 mt-5">Doneaza si tu</p>
                    <p>• in LEI RO53CRDZ013A101030481001</p>
                    <p>• in EUR RO26CRDZ013A101030481002, cod swift CRDZROBU</p>
                    <p>• in USD RO96CRDZ013A101030481003, cod swift CRDZROBU</p>

                    <p class="fs-4 mt-5">Contact</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <Principala v-if="pagina == 1" />
                <Despre v-if="pagina == 2" />
                <Evenimente v-if="pagina == 3" />
                <Departamente v-if="pagina == 4" />
                <Live v-if="pagina == 5" />
                <Donatii v-if="pagina == 6" />
                <Contact v-if="pagina == 7" />
                <Cor v-if="pagina == 8" />
                <Slujire v-if="pagina == 9" />
                <Copii v-if="pagina == 10" />


            </div>
        </div>

        <footer class="bg-dark text-center text-white">
            <div class="container p-4 pb-0">
                <section class="mb-4">
                    <a class="btn btn-floating m-1" role="button"><img src="src/Icons/facebook.svg"></a>
                    <a class="btn btn-floating m-1" role="button"><img src="src/Icons/instagram.svg"></a>
                </section>
            </div>

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright:
                <a class="text-white">Har Industries</a>
            </div>
        </footer>
    </div>

</template>

<style>
@import "../css/base.css";
@import "animate.css/animate.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
</style>
